@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

::selection {
  color: var(--white);
  background-color: var(--brown-800);
}

body {
  margin: 0;
  padding: 0 32px;
  font-size: 16px;
  color: var(--stone-600);
  font-family: "Outfit";
}

h2 {
  font-size: 28px;
  font-weight: 500;
  color: var(--brown-800);
  font-family: "Young Serif";
}

ul,
ol {
  padding-left: 20px;
}

li {
  margin: 10px 0;
  padding-left: 20px;
  list-style-position: outside;
}

li::marker {
  font-weight: 600;
  color: var(--brown-800);
}

table {
  width: 100%;
  table-layout: fixed;
}

tr {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid var(--stone-150);
}

tr:last-child {
  border: none;
}

td,
th {
  width: 50%;
}

th {
  text-align: left;
  padding-left: 20px;
  font-weight: normal;
}

td {
  font-weight: bold;
  color: var(--brown-800);
}

.image {
  margin: 0 -32px;
  width: calc(100% + 64px);
}

.title {
  font-size: 34px;
  font-weight: 500;
  color: var(--stone-900);
  font-family: "Young Serif";
}

.hr {
  display: block;
  margin-top: 30px;
  border-bottom: 1px solid var(--stone-150);
}

.preparation-time {
  margin: 20px 0;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: var(--rose-50);
}

.preparation-time h3 {
  font-size: 20px;
  color: var(--rose-800);
}

.preparation-time li::marker {
  color: var(--rose-800);
}

.attribution {
  margin: 25px;
  text-align: center;
}

.attribution a {
  color: var(--brown-800);
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    margin: 80px 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--stone-100);
  }

  main {
    padding: 45px;
    max-width: 650px;
    border-radius: 20px;
    background-color: var(--white);
  }

  .image {
    margin: 0;
    border-radius: 10px;
    width: 100%;
  }

  .title {
    font-size: 40px;
  }

  .attribution {
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
  }

  .attribution a {
    color: var(--brown-800);
  }
}
